# Ignore eclipse meta data
.settings
.classpath
.project
.vscode
.code-workspace
.metadata
bin
*.code-workspace
.DS_Store



# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
